.navbar-default {
  background-color: #003262;
  border-color: #ffe100;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #003262;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #ffe100;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #ffe100;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #ffe100;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #ffe100;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #ffe100;
}
.navbar-default .navbar-toggle {
  border-color: #ffe100;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffe100;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

.navbar-default-2 {
  background-color: #ffe100;
  border-color: #003262;
}

.carousel-control.left, 
.carousel-control.right {
    background-image: none
}

body{
  margin-top: 0px;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}

.title {
    right: 50%;
    bottom: 75%;
    transform: translate(50%,50%);
    position: absolute;
    background: rgba(000,000,000,0.7);
    width: 300px;
    text-align: center;
}
/* parallax */
.content-block-one {
  padding: 300px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #ffffff;
    font-size: 25px;
}
.content-block-one p {
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 40pt;
  font-weight: 200;
    word-wrap: break-word;
    width: 50%;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}
.content-block-one > hr {
  border-top-color: #d5d5d5;
}
.container .content-block-one {
  border-radius: 6px;
}
.content-block-one .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .content-block-one {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .content-block-one {
    padding-right: 60px;
    padding-left: 60px;
  }
  .content-block-one h1,
  .content-block-one .h1 {
    font-size: 63px;
  }
}
.content-space-one {
  /*padding: 0px;
  margin-bottom: 0px;*/
    width: 100vw;
    height: 100vh;
  color: inherit;
  background: url(/images/background.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*padding-top: 360px;
  padding-bottom: 360px;*/
}
.content-space-two {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(http://www.sz0931.com/data/out/19/52575836-code-wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}
.page-break {
    width: 65%;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}

.page-break-2 {
    width: 50%;
    height: 3px;
    background-color: #003262;
    margin: 0 auto;
}

.container{
    bottom: 0px;
    vertical-align: bottom;  
    position: relative;
    height: 100%;
}

.row {
    bottom:0px;
    position: relative;
    vertical-align: bottom;
    height: 100%;
}

.col-sm-8 {
    top: 5px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #06111e;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ffe100;
  }
}