#header {
    background-color: #af0f1f;
    height: 35vh;
    width: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

p {
    color:black; font-size: 20px;
}

.title {
    color:white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.desc {
    font-size: 20px;
    width: 50%;
    margin: auto;
}

.row {
    margin: 40px;
}

.top5 { margin-top:25px; }

.wrap {width: 70%; margin: 0 auto;}